@import "tailwindcss";

@theme {
  --color-primary: #266528;
  --color-primary-container: #407f3e;
  --color-on-primary-container: #e5ffdc;
  --color-secondary: #446900;
  --color-secondary-container: #c0ef7c;
  --color-on-secondary-container: #476d01;
  --color-surface-muted: #E7E0C4;
  --color-warning-yellow: #DBD468;
  --color-danger-soft: #E68A8C;
  --color-text-slate: #334155;
  
  --font-sans: "Inter", system-ui, sans-serif;
}

@layer base {
  body {
    @apply bg-[#E7E0C4]/40 text-[#191d17] font-sans antialiased;
  }
}
